# Environment
.env
*.env

# Data (can be large)
data/raw/

# Logs
logs/

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
*.egg-info/
dist/
build/
.eggs/

# dbt
medical_warehouse/target/
medical_warehouse/dbt_packages/
medical_warehouse/logs/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/

# Telegram session file
session/
*.session